    /* CSS Document */
* {box-sizing: border-box;}
body { margin: 0; padding: 0; font-size: 1em; margin: auto; font-family: arial;  background-color: #dfdfdf; color: #000000; }
h1, h2 {font-weight: 900; color:#cc0000; font-family: 'Pacifico', sans-serif; font-weight: bold;}
h1 {font-size: 2.5em; text-shadow: 3px 3px #333333;}
h2 {font-size: 2em;}
a {text-decoration: none; color: #ffffff; width: 100%;}
a:hover {text-decoration: underline;}
.container {max-width:1000px; margin: 0 auto; background-color: #efefef; overflow: hidden;}

.column, .full-width {width: 96%; margin: 5px 2%;  padding: 0; float: left; }
.sub-column { width: 46%; margin: 5px 2%;  display: inline-block; padding: 0; float: left; }

.topline {border-top: 3px solid #cc0000;}
.bottomline {border-bottom: 3px solid #cc0000;}

.buttons {background-color: #3a5160;  font-weight: 900; text-align: center; width: 100%; display: inline-block; padding: 20px; margin: 10px 0; font-size: 1.5em;}
.socialbuttons {display: inline; margin: 10px; font-size: 1.5em; color: #3a5160;}
@media (min-width: 700px) {
    .column { width: 46%; }
    .sub-column {width: 21%; }
}

