{% comment %}From https://stackoverflow.com/a/39344654{% endcomment %} {% for c
in site.[page.collection] %} {% if c.title == page.title %} {% assign thisPost =
c %} {% if forloop.index == 1 %} {% assign prevflag = 0 %} {% assign nextflag =
1 %} {% elsif forloop.index == forloop.length %} {% assign prevflag = 1 %} {%
assign nextflag = 0 %} {% else %} {% assign prevflag = 1 %} {% assign nextflag =
1 %} {% endif %} {% endif %} {% endfor %} {% for c in site.[page.collection] %}
{% if c.title == page.title %} {% assign prevflag = 0 %} {% endif %} {% if
prevflag == 1 %} {% assign prevPost = c %} {% assign page.previous = c %} {%
endif %} {% endfor %} {% if nextflag == 1 %} {% for c in site.[page.collection]
%} {% if foundPost == 1 %} {% assign getNext = 1 %} {% endif %} {% if c.title ==
page.title %} {% assign foundPost = 1 %} {% endif %} {% if getNext == 1%} {%
assign nextPost = c %} {% assign page.next = c %} {% assign foundPost = 0 %} {%
assign getNext = 0 %} {% endif %} {% endfor %} {% endif %}

<div id="post-nav">
    <nav class="my-8 flex flex-row justify-between">
        {% if prevPost.url %}
        <a
            class="inline-block border-2 border-gray-200 p-4"
            href="{{prevPost.url}}"
        >
            <span>{{prevPost.title}}</span>
        </a>
        {% else %}
        <div
            class="is-disabled inline-block border-2 border-gray-200 p-4 text-gray-500"
        >
            Previous
        </div>
        {% endif %} {% if nextPost.url %}
        <a
            class="inline-block border-2 border-gray-200 p-4"
            href="{{nextPost.url}}"
        >
            <span>{{nextPost.title}}</span>
        </a>
        {% else %}
        <div
            class="is-disabled inline-block border-2 border-gray-200 p-4 text-gray-500"
        >
            Next
        </div>
        {% endif %}
    </nav>
</div>
