<section class="section">
	<div class="columns is-centered">
		<div class="column is-4">
			<img src="/img/layout/shirt.png" alt="Shirt" />
		</div>
	</div>
</section>

<section class="hero is-info">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-4-tablet is-3-desktop">
					<p class="title has-text-centered">Project Name Generator</p>
					<a href='https://play.google.com/store/apps/details?id=com.csrhymes.projectnamegenerator&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png'/></a>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer">
	<div class="has-text-centered content">

		<p><strong>Share:</strong></p>
		<div class="addthis_inline_share_toolbox"></div>

		<p><strong>Follow:</strong></p>
		<p>
			<a class="button is-info" href="https://www.facebook.com/csrhymes">
			<span class="icon is-medium">
				<i class="fa fa-facebook fa-lg"></i>
			</span>
			</a>
			<a class="button is-info" href="https://twitter.com/chrisrhymes">
			<span class="icon is-medium">
				<i class="fa fa-twitter fa-lg"></i>
			</span>
			</a>
			<a class="button is-info" href="https://plus.google.com/u/0/105812304907290364686/posts">
			<span class="icon is-medium">
				<i class="fa fa-google-plus fa-lg"></i>
			</span>
			</a>
			<a class="button is-info" href="http://uk.linkedin.com/pub/chris-rhymes/71/859/a6a">
			<span class="icon is-medium">
				<i class="fa fa-linkedin fa-lg"></i>
			</span>
			</a>
		</p>


		<p>&copy; 2014<script>new Date().getFullYear()>2014&&document.write("-"+new Date().getFullYear());</script> C.S. Rhymes</p>
	</div>
</footer>


