	<footer class="row">
		<div class="small-12 medium-6 columns">
			<p class="left">&copy; C.S. Rhymes 2014</p>
		</div>
		<div class="small-12 medium-6 columns">
			<a class="button round right small" href="https://www.facebook.com/csrhymes"><i class="fa fa-facebook fa-2x"></i></a>
			<a class="button round right small" href="https://twitter.com/chrisrhymes"><i class="fa fa-twitter fa-2x"></i></a>
			<a class="button round right small" href="https://plus.google.com/u/0/105812304907290364686/posts"><i class="fa fa-google-plus fa-2x"></i></a>
			<a class="button round right small" href="http://uk.linkedin.com/pub/chris-rhymes/71/859/a6a"><i class="fa fa-linkedin fa-2x"></i></a>
		</div>
		

	</footer>
  </div>
</div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
