<header>
<div class="row text-center">
  <div class="width-1">
    <a href="/" title="Home">
      <h1 class="title">C.S. Rhymes</h1>
      <h3>Web Developer &amp; Author</h3>
    </a>
  </div>  
</div>

<div class="row">  
    <nav>
      <ul class="top-nav">
          <li class="top-nav-item home"><a href="/" title="Home" class="top-nav-link">Home</a></li>
          {% assign: sorted-nav = site.pages | sort: "order" %}
            {% for page in sorted-nav %}
              {% if page.layout == 'page' %}
              <li class="top-nav-item"><a class="top-nav-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            <li class="top-nav-item"><a class="top-nav-link" href="/blog/" title="Blog">Blog</a></li>
        </ul>
    </nav>   
</div>
   
</header>

