<div class="has-background-grey-lighter">
  <div class="container my-3 px-3">
    <div class="columns">
      <div
        class="column is-6-desktop is-offset-6-desktop is-4-widescreen is-offset-8-widescreen"
      >
        <div
          class="gcse-searchbox-only"
          data-resultsUrl="{{ site.baseurl }}/search"
        ></div>
      </div>
    </div>
  </div>
</div>

<section
  class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary"
  {%
  if
  page.hero_image
  %}
  style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;"
  {%
  endif
  %}
>
  <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
    <div class="container">
      <h1 class="title is-2">{{ page.title }}</h1>
      <p class="subtitle is-3">{{ page.subtitle }}</p>
      {% if page.hero_link %}
      <a
        href="{{ page.hero_link | prepend: site.baseurl  }}"
        class="button is-info is-large"
        >{{ page.hero_link_text }}</a
      >
      {% endif %}
    </div>
  </div>
</section>
