* {
	box-sizing: border-box;
}

body {
	background: #eeeeee;
}

.row {
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	clear: both;
	background: $white;
	overflow: hidden;

}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.width-1 {
	width: 96%;
	margin: 0 2%;
	float: left;
	padding: 1%;
	display: block;
	padding: 1em;
}

.width-1-2 {
	@extend .width-1;
	@media (min-width: $tablet-width) {
		width: 46%;
		margin: 0 2%;	
	}
	
}

.width-1-3 {
	@extend .width-1;
	@media (min-width: $tablet-width) {
		width: 29.333%;
		margin: 0 2%
	}
}

.width-2-3 {
	@extend .width-1;

	@media (min-width: $tablet-width) {
		width: 62.666%;
		margin: 0 2%;
	}
}

.width-2-3-center {
	@extend .width-1-2;

	@media (min-width: $tablet-width) {
		width: 62.6666%;
		margin: 0 18.6666%;
	}
}