.main-nav {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;

	@media (min-width: $tablet-width) {
		position: relative;
	}
}

.top-nav-button {
	display: block;
	width: 100%;
	text-align: right;
	border: 1px solid $black;
	padding: 0.5em;
	background: $white;

	@media (min-width: $tablet-width) {
		display: none;
	}

	&:hover {
		text-decoration: none;
	}
}

.top-nav {
	width: 100%;
	background: $primary;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: none;
	border-bottom: 2px solid $secondary;

	@media (min-width: $tablet-width) {
		display: block !important;
	}
}

.top-nav-open {
	position: absolute;
	left: 0;
	animation: fadein 0.5s ease-out;

	@media (min-width: $tablet-width) {
		position: relative;
		animation: none;
	}
}

.top-nav-closed {
	position: absolute;
	left: -100%;
	display: none;
	animation: fadeout 0.5s ease-out;

	@media (min-width: $tablet-width) {
		position: relative;
		left: 0;
		display: block;
		animation: none;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		left: -100%;
	}
	to {
		opacity: 1;
		left: 0;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
		left: 0;
	}
	to {
		opacity: 0;
		left: -100%;
	}
}

#topNav:target.top-nav {
	display: block;
}

.top-nav-item {
	width: 100%;
	color: $white;
	display: inline-block;
	float: left;
	text-align: center;
	margin: 0;

	@media (min-width: $tablet-width) {
		width: 20%;
	}

	&:hover {
		background: $secondary;
		color: $white;
	}
}

.top-nav-link {
	color: $white;
	padding: 1em 0;
	display: block;

	&:hover {
		background: $secondary;
		color: $white;
	}
}

.home {
	@media (min-width: $tablet-width) {
		display: none;
	}
}