$primary: #333333;
$info: #971427;
$white: #ffffff;
$dark: #333333;
$grey: #ccc;

$brand-font: 'Pacifico', sans-serif;

.brand {
  font-family: $brand-font;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: $white;
}

.content-spacer {
  padding: 1.5rem 0;
}

img {
  width: 100%;
}

blockquote {
  font-family: $brand-font;
  font-size: 1.5rem;
}

img { max-width: 100%; }

.highlighter-rouge {
  max-width: 100%;
  overflow-x: scroll !important;
}

code {
  overflow-x: scroll !important;
  max-width: 100%;
  padding: 0;
}