---
---
$primary: #333333;
$info: #981430;
$pagination-current-background-color: $info;
$pagination-current-border-color: $info;

// Import Main CSS file from theme
@import "main";

.hero {
    .title,
    .subtitle {
        text-shadow: 1px 1px rgba($primary, 0.5);
    }
}