<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper"><div class="home">

        <h1>Blog</h1>
        <p>Welcome to my blog.</p>

          {% for post in paginator.posts %}
                <a href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
                <p>Published: {{ post.date | date: "%b %-d, %Y" }}</p>
                <p><a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">0 Comments</a></p>
                {% if post.image %}<img src="{{ post.image }}" alt="{{ post.title }}"/>{% endif %}
                <p>{{ post.excerpt }} <a href="{{ post.url | prepend: site.baseurl }}" class="button expand">Read more...</a></p>
                <hr>
          {% endfor %}

          <!-- Pagination links -->
          <div class="pagination">
              <div class="small-12 columns text-center">
                  <h4>Page: {{ paginator.page }} of {{ paginator.total_pages }}</h4>
              </div>
              <ul class="button-group even-2">
                  {% if paginator.previous_page %}
                  <li><a href="{{ paginator.previous_page_path }}" class="button previous">Previous</a></li>
                  {% else %}
                  <li><a href="#" class="button secondary disabled previous">Previous</a></li>
                  {% endif %}
                  {% if paginator.next_page %}
                  <li><a href="{{ paginator.next_page_path }}" class="button next">Next</a></li>
                  {% else %}
                  <li><a href="#" class="button secondary disabled next">Next</a></li>
                  {% endif %}
              </ul>

          </div>
        

        <div class="panel text-center"><h2>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</h2></a></div>

      </div>
    </div>
  </div>

    {% include footer.html %}
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'csrhymes'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  </body>

</html>


