---
layout: default
---

{% include carbon.html %}

<div class="prose">
    <p class="font-bold">
        Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}
    </p>

    {% if page.series %} {% include series.html %} {% endif %}

    <article class="prose dark:prose-invert max-w-none">{{ content }}</article>
</div>

<div class="my-8 flex flex-row flex-wrap gap-6">
    {% for tag in page.tags %}
    <span class="rounded bg-gray-100 px-4 py-2 text-black">{{ tag }}</span>
    {% endfor %}
</div>
