---
layout: default
---

<div class="content">

    <p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blog-post -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1723103893952817"
         data-ad-slot="8585524389"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
    <span class="tag is-primary">{{ tag }}</span>
    {% endfor %}
</div>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog-post -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1723103893952817"
     data-ad-slot="8585524389"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
                            