---
layout: default
---
<div class="container">
    <section class="section is-medium">
        <div class="columns is-multiline">
            <div class="column is-12 has-text-centered">

                <h1 class="brand">{{ page.title }}</h1>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{%
                    if page.meta %} • {{ page.meta }}{% endif %}</p>
                <p><strong>Share: </strong>
                <div class="addthis_inline_share_toolbox"></div>
                </p>
                <div class="has-text-centered">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Post ads -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1723103893952817"
                         data-ad-slot="3468923338"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

            <div class="column is-9 blog-content">
                {{ content }}

                <p>Tagged with <strong>{{ page.categories | join: ', ' }}</strong></p>

                <div id="disqus_thread"></div>
            </div>


            <div class="column notification is-3 is-primary">
                <div class="has-text-centered">
                    <h2 class="title">Recent Posts</h2>
                </div>

                {% for post in site.posts limit:5 %}
                <section class="section">
                    <div class="has-text-centered">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <h3 class="subtitle">{{ post.title}}</h3>
                        </a>
                    </div>
                    <p>Published: {{ post.date | date: "%b %-d, %Y" }}</p>
                    {{ post.excerpt | truncatewords: 25 }}
                    <div class="has-text-centered">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="button is-info">Read more...</a>
                    </div>
                </section>
                {% endfor %}
            </div>
        </div>

        <script type="text/javascript">

            var disqus_shortname = 'csrhymes';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>


    </section>
</div>

