---
layout: default
---

<section class="hero is-medium is-primary" style="background: url('/img/stories.jpg') no-repeat center center; background-size: cover;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title brand"> {{ page.title }}</h1>
        </div>
    </div>
</section>

<div class="container">
    <section class="section">
        <div class="columns is-multiline">
            <div class="column is-12">
                <div class="has-text-centered">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Post ads -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1723103893952817"
                         data-ad-slot="3468923338"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <div class="content">
                    <br>
                    {{ content }}
                </div>
                <div class="has-text-centered">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Post ads -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1723103893952817"
                         data-ad-slot="3468923338"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </section>
</div>
